.navbar-collapse{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 150px;
}
a{
  color: rgb(30, 22, 142) !important;
  font-size: x-large !important;
  font-weight: bolder !important;
}
footer{
  position: fixed;
  bottom: 0;
  width: 50%;
}
.card {
  border: 3px solid black;
}
.card-header{
  background-color: black !important;
  color: rgb(228, 228, 236) !important;
 
}
.card-footer{
  background-color: black !important;
 
}
img{
  margin: 20px 20px !important;
  width: 300px !important;
  height: 200px !important;
}
button{
  border-radius: 20px !important;
}